.carousel-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .carousel-content {
    display: flex;
  }
  
  .carousel-content img {
    width: 25%;
    height: auto;
    flex-shrink: 0;
  }


  